<div class="container">

  <div class="row justify-content-center">
    <div class="col-12">

      <h1>Add a Cocktail</h1>
      <br>

      <%= render "form_cocktail", cocktail:@cocktail %>

      <br>
      <br>
      <%= link_to "back to index", cocktails_path %>

    </div>
  </div>
</div>
